@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.m-citizens {
  @extend .m-orange;
}

.m-government {
  @extend .m-blue;
}

.m-economic {
  @extend .m-yellow;
}

.m-public {
  @extend .m-fuschia;
}

.m-hidden {
  visibility: hidden;
}

p, td, a {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

#case-study-page,
#open-data-impact-homepage {
  .b-top-section {
    height: 60vh;
    position: relative;
    background: url('../img/banners/sm/home.jpg') no-repeat center center;
    background-size: cover;

    .e-shade {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient($gray-00, $gray-80);
    }
  }

  .e-titles {
    position: absolute;
    bottom: 60px;
    width: 100%;
    padding: 20px;

    h3 span {
      text-transform: uppercase;
      font-size: 16px;
      margin: 0;
      width: auto;
      padding: 5px 8px;
      background-color: $purple;
      font-weight: 400;
    }
  }

  .b-page-section {
    .e-bold {
      font-weight: 600;
    }
    .e-box {
      padding: 30px;
      background-color: $od-blue-05;
    }
    .e-box-title {
      font-style: italic;
    }
  }
}

#download-button,
#explore-button {
  bottom: -27px;
  position: absolute;
  text-align: center;
  width: 100%;

  a {
    box-shadow: 0 0 5px $gray-20;
  }
  .material-icons {
    font-size: 24px;
    line-height: 24px;
  }
}

#open-data-impact-homepage {
  .b-top-section {
    .e-main-title {
      @include breakpoint($desktop) {
        font-size: 60px;
        font-weight: 100;
      }
      @include breakpoint($mobile-only) {
        font-size: 2.6rem;
        font-weight: 400;
      }
    }
    .e-tagline {
      @include breakpoint($desktop) {
        font-size: 30px;
        font-weight: 100;
      }
      @include breakpoint($mobile-only) {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
  }

  .b-page-section {
    &.m-impact-section {
      h2 {
        @include breakpoint($desktop) {
          font-size: 60px;
        }
        @include breakpoint($mobile-only) {
          font-size: 45px;
        }
      }
    }
  }

  .grid {
    .e-card {
      @include breakpoint($desktop) {
        width: auto;
        text-align: start;
      }
      @include breakpoint($mobile-only) {
        width: 100%;
        text-align: center;
      }
      .e-card-inner {
        text-align: left;
        @include breakpoint($desktop) {
          margin: 15px;
        }
        @include breakpoint($mobile-only) {
          margin: 15px 0;
        }
      }
    }
  }

}

#case-study-page {
  .b-top-section {
    text-align: center;
    margin-bottom: 60px;

    .e-titles {
      padding: 30px;
      .e-main-title {
        @include breakpoint($desktop) {
          font-size: 60px;
          font-weight: 100;
        }
        @include breakpoint($mobile-only) {
          font-size: 5vh;
          font-weight: 300;
        }
      }
      .e-tagline {
        @include breakpoint($desktop) {
          font-size: 30px;
        }
        @include breakpoint($mobile-only) {
          font-size: 1.1rem;
        }
      }

      h4 {
        @include breakpoint($desktop) {
          font-size: 1.125rem;
        }
        @include breakpoint($mobile-only) {
          font-size: 0.85rem;
        }
      }
    }
  }

  .e-tags {
    overflow: hidden;
    float: left;
    width: 50%;

    p {
      margin: 0;
    }

    .e-left {
      float: left;
      width: 30%;
      text-align: right;
      padding: 10px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .e-right {
      float: right;
      width: 70%;
      text-align: left;
      padding: 10px;
    }
  }

  .e-read-times {
    float: right;
    width: 60%;
    text-align: right;
    p {
      margin: 0;
    }
  }
}

// This is the custom CSS for the about page.
// Note that it is properly scoped inside the #about-page ID, so these styles won't leak anywhere else,
// and will also be applied with a high specificity, over the component base styles.

#about-page {
  .b-top-section {
    padding-top: 130px;
    @include breakpoint($desktop) {
      height: 300px;
    }
    @include breakpoint($mobile-only) {
      height: 65vh;
    }
  }

  .b-page-section {
    padding-top: 50px;

    a {
      color: $od-blue;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    h3 {
      font-size: 18px;
      color: $gray-60;
      @include breakpoint($desktop) {
        text-align: right;
      }
      @include breakpoint($mobile-only) {
        text-align: left;
      }
    }

    h4 {
      font-size: 16px;
      color: $gray-60;
      font-weight: 600;
    }

  }

  .slick-track {
    @include breakpoint($desktop) {
      height: auto;
    }
    @include breakpoint($mobile-only) {
      height: 100vh;
    }

    .b-quote-slide {
      height: 100%;
    }
  }

  .b-form textarea {
    min-height: 240px;
  }
}

.b-footer .e-content {

  h4 {
    @include breakpoint($mobile-only) {
      text-align: center;
    }
  }

  .e-partner-logo {
    text-align: center;
    margin: 0 auto;
    & > img {
      max-height: 80px;
    }
    @include breakpoint($desktop) {
      width: 30%;
      display: inline-block;
    }
    @include breakpoint($mobile-only) {
      display: block;
      width: 80%;
      margin-top: 15px;
    }
  }
}

.b-copyright {
  position: relative;
  .logos {
    @include breakpoint($desktop) {
      &:first-child {
        text-align: center;
      }
      &:last-child {
        text-align: right;
      }
    }
    @include breakpoint($mobile-only) {
      text-align: center;
    }
  }
  .e-partner-logo {
    text-align: center;
    &.small > img {
      max-height: 80px*0.7;
      max-width: 180px*0.7;
    }
    &.big > img {
      max-height: 80px*1.3;
      max-width: 180px*1.3;
    }
    > img {
      max-height: 80px;
      max-width: 180px;
      opacity: .5;
      margin: 10px;
      @include transition;
      &:hover {
        opacity: 1;
        @include transition;
      }
    }
  }
  .e-cc-badge {
    @include breakpoint($desktop) {
      margin: 5px 25px 0 0;
    }
    @include breakpoint($mobile-only) {
      margin: 30px 0;
    }
  }
}

.b-page-section {
  aside h3 {
    text-align: left;
    @include breakpoint($desktop) {
      text-align: right;
    }
    padding-right: 30px;
  }
  font-size: 1.1rem;
  font-weight: 300;
  text-align: justify;

  .light {
    background-color: $gray-20;
  }

  .side-info {
    border: 1px solid $medium-gray;
    display: block;
    @include breakpoint($desktop) {
      width: 350px;
      margin: 0 0 0 15px;
      float: right;
    }
    @include breakpoint($mobile-only) {
      width: 90%;
      margin: 30px auto;
    }

    text-align: left;
    > table {
      border: 0;
      margin: 0;
      th, td {
        font-size: 100%;
        padding: 5px 10px;
      }
      th {
        text-transform: none;
        font-weight: normal;
      }
    }
    > *:not(table) {
      margin: 10px;
    }
  }
  .float-img {
    @include breakpoint(small) {
      float: none;
      clear: both;
      display: block;
      max-width: 90%;
      text-align: center;
      margin: 10px auto;
    }
    @include breakpoint(medium) {
      max-width: 40%;
      margin: 0;
      padding: 5px 0 10px 20px;
      float: right;
    }

    @include breakpoint(large) {
      max-width: 50%;
    }

  }
  .e-img {
    text-align: center;
    > img {
      @include breakpoint($desktop) {
        max-width: 80%;
      }
      @include breakpoint($mobile-only) {
        max-width: 100%;
      }

    }
  }
  .e-caption, .e-img {
    clear: both;
    margin: 0;
  }
  .e-caption {
    padding-top: 15px;
  }
  img {
    box-shadow: 0 0 8px $gray-10;
  }

  .e-expandable {

    > *:not(:first-child) {
      display: none;
    }

    .m-show {
      display: block;
    }

    .e-read-more {
      display: inline;
      cursor: pointer;
      color: $od-blue;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    .e-h2 {
      font-weight: bold;
      color: $od-blue;
      clear: both;
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    b {
      font-weight: bold;
    }
    .e-img img {
      margin: 30px 0;
    }

    .e-quote {
      background-color: $od-blue-05;
      padding: 20px 20px 20px 40px;
      position: relative;

      &:before {
        background-image: url("../img/quote.svg");
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        @include circle;
        height: 34px;
        width: 34px;
        background-color: $od-blue;
        content: '';
        position: absolute;
        left: -17px;
      }
    }

    .e-quote-author {
      margin-top: -15px;
      background-color: $od-blue-05;
      padding: 0 20px 20px 40px;
      position: relative;
      text-align: right;

      span {
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        color: $od-blue;
      }
    }

  }
}

// $mobile-only: max-width 767px;
// $tablet: min-width 768px;
// $touch: max-width 1024px;
// $desktop: 1025px;

// MOBILE
@media (max-width 767px) {
  .e-card-inner {
    width: 90%;
  }
}

// TABLET
@media (min-width 768px) {

}

// DESKTOP
@media (min-width: 1025px) {

}