.b-top-nav {
  background-color: $black;
  color: $white;
  padding: 5px 5px 10px 5px;
  position: relative;

  a {
    color: currentColor;
  }

  .e-logo {
    padding: 5px 0 0 0;
    text-align: center;
    display: block;
    > span {
      display: block;
      float: left;
      &:not(.logo) {
        @include breakpoint($desktop) {
          width: 60%;
        }
        @include breakpoint($mobile-only) {
          width: 100%;
        }
      }

      &.logo {
        @include breakpoint($desktop) {
          display: block;
        }
        @include breakpoint($mobile-only) {
          display: none;
        }
        width: 20%;
        padding-top: 5px;
        > img {
          max-height: 30px;
          margin: 0 auto;
          vertical-align: bottom;
        }
      }

    }
  }

  .e-nav-group {
    position: absolute;
    top: 0;

    &.m-left {
      left: 0;
    }
    &.m-right {
      right: 0;
    }
  }

  .e-nav-item {
    padding: 18px;
    display: inline-block;
    &.active {
      color: white;
    }
  }

  .e-nav-item.m-container {
    padding: 0;
  }

}

.b-top-nav {
  .e-social-media {
    display: none;
  }
  .e-search-container {
    @include breakpoint($mobile-only) {
      display: none;
    }
  }

  @include breakpoint($tablet) {
    .e-social-media {
      display: block;
    }
  }
}














