.b-top-nav {
  background-color: $black;
  color: $white;
  position: relative;

  a {
    color: currentColor;
  }

  .e-logo {
    padding: 5px;
    text-align: center;
    display: block;
  }

  .e-nav-group {
    position: absolute;
    top: 0;

    &.m-left {
      left: 0;
    }
    &.m-right {
      right: 0;
    }
  }

  .e-nav-item {
    padding: 16px;
    display: inline-block;
    &.active {
      color: white;
    }
  }

  .e-nav-item.m-container {
    padding: 0;
  }

}















