<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>datenwirken.de - offene daten in der praxis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#009588">
    <meta name="msapplication-navbutton-color" content="#009588">
    <meta name="apple-mobile-web-app-status-bar-style" content="#009588">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="static/vendor/normalize.css">
    <link rel="stylesheet" href="static/vendor/slick.css">
    <link rel="stylesheet" href="static/vendor/prism.css"/>
    <link rel="stylesheet" href="static/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- needed up here because of scripts in child templates -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta property="og:url" content="http://www.datenwirken.de/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="datenwirken.de"/>
    <meta property="og:description" content="Offene Daten in der Praxis"/>
    <link rel="icon" type="image/ico" href="static/img/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="static/img/favicon-16x16.png"/>
</head>

<body id="{% block page_id %}{% endblock %}">
{% import '_macros.html' as modules %}
{% block header %}
<!-- header goes here -->
<header class="b-top-nav m-transparent m-fixed">

    <div class="e-nav-group m-left e-social-media dropdown">
        <div class="e-nav-item"><i class="e-social-media-item fa fa-twitter"></i></div>
        <ul class="m-transparent">
            <li>
                <a href="https://twitter.com/snv_berlin" class="e-nav-item" target="_blank">
                    <i class="e-social-media-item fa fa-twitter"></i>snv_berlin
                </a>
            </li>
            <li>
                <a href="https://twitter.com/okfde" class="e-nav-item" target="_blank">
                    <i class="e-social-media-item fa fa-twitter"></i>okfde
                </a>
            </li>
        </ul>

    </div>
    {% block navelements %}
    <div class="e-nav-group m-right hide-for-small-only">
        <a href="supporters.html" class="e-nav-item" id="nav-about">Befürworter</a>
        <a href="about.html" class="e-nav-item" id="nav-about">Hintergrund</a>
    </div>
    <div class="e-nav-group m-right show-for-small-only dropdown">
        <a class="e-nav-item activate-dropdown">
            <i class="fa fa-ellipsis-h"></i>
        </a>
        <ul class="m-transparent">
            <li>
                <a href="supporters.html" class="e-nav-item">
                    Befürworter
                </a>
            </li>
            <li>
                <a href="about.html" class="e-nav-item">
                    Hintergrund
                </a>
            </li>
        </ul>
    </div>
    {% endblock %}
    <a class="e-logo" href="./">
        <img src="static/img/datenwirken_logo.svg" alt="datenwirken.de - Offene Daten in der Praxis"/>
    </a>
</header>
{% endblock %}


{% block content %}
<!-- content goes here -->
{% endblock %}


<!--- END big Footer -->
<div class="b-copyright">
    <div class="row medium-up-3">
        <div class="column">
            <a class="e-cc-badge" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
                    alt="Creative Commons License" style="border-width:0"
                    src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/></a>
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
            Commons Attribution-ShareAlike 4.0 International License</a>. <a href="impressum.html">Impressum</a>.
        </div>
        <div class="column logos padding-top-10">
            <a class="e-partner-logo big" href="http://www.okfn.de/" target="_blank"><img
                    src="static/img/partners/okfn-logo.png" alt=""></a>
            <a class="e-partner-logo big" href="http://www.stiftung-nv.de/" target="_blank"><img
                    src="static/img/partners/snv_weiss.svg" alt=""></a>
        </div>
        <div class="column logos">
            <div>
                <h6>Mit Unterstützung von:</h6>
                <span class="e-partner-logo" ><img
                        src="static/img/partners/govlab-logo-white.png" alt="" class="no-hover"></span>
                <span class="e-partner-logo"><img
                        src="static/img/partners/omidyar-logo-white.svg" alt="" class="no-hover"></span>
            </div>
        </div>
    </div>
</div>

<div id="overlay"></div>

<script src="static/vendor/slick.min.js"></script>
<script src="static/vendor/EasePack.min.js"></script>
<script src="static/vendor/rAF.js"></script>
<script src="static/vendor/TweenLite.min.js"></script>
<script src="static/vendor/feed.min.js"></script>
<script src="static/vendor/prism.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.min.js"></script>

<script>
    $(document).foundation();
</script>

<script type="text/javascript" src="./static/js/scripts.js"></script>
<script type="text/javascript" src="./static/js/mobile-nav-dropdown.js"></script>


<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.datenwirken.de","*.daten.show","*.daten.show","*.datenwirken.de"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//piwik.okfn.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 17]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript>
    <p><img src="//piwik.okfn.de/piwik.php?idsite=17" style="border:0;" alt="" /></p>
</noscript>
<!-- End Piwik Code -->

{% block customscripts %}{% endblock %}

</body>
</html>
