{% extends "_case-studies.html" %}
{% set case_id = 1 %}


{% block challenge %}
<p>
    <span class="float-img"><img src="static/img/studies/muster-1.png" /></span>

</p>

{% endblock %}

{% block solution %}
<p>
    <span class="float-img"><img src="static/img/studies/muster-2.png"/></span>

</p>

{% endblock %}

{% block datasets %}

<p></p>

<ul>
    <li></li>
</ul>
{% endblock %}

{% block benefitters %}

{% endblock %}


{% block outcome %}
<p></p>
<p class="e-img"><img src="static/img/studies/muster-3.png"/></p>
<p></p>

{% endblock %}

{% block shortinfo %}
{% endblock %}


{% block sources %}
<p></p>
{% endblock %}
