{% extends "_base.html" %}
{% set case = cases[case_id] %}
{% block page_id %}case-study-page{% endblock %}


{% block navelements %}
<div class="e-nav-group m-right hide-for-small-only">
    <a href="index.html" class="e-nav-item" id="nav-about">Home</a>
    <a href="supporters.html" class="e-nav-item" id="nav-supporters">Befürworter</a>
    <a href="about.html" class="e-nav-item">
        Hintergrund
    </a>
</div>
<div class="e-nav-group m-right show-for-small-only dropdown">
    <a class="e-nav-item activate-dropdown"><i class="fa fa-ellipsis-h"></i></a>
    <ul class="m-transparent">
        <li>
            <a href="./index.html" class="e-nav-item">
                Home
            </a>
        </li>
        <li>
            <a href="supporters.html" class="e-nav-item">
                Befürworter
            </a>
        </li>
        <li>
            <a href="about.html" class="e-nav-item">
                Hintergrund
            </a>
        </li>
    </ul>
</div>
{% endblock %}


{% block content %}


<main class="case-study-page" role="main">

    <div class="b-top-section" style="background-image: url(./static/img/banners/sm/{{case.image}})">
        <div class="e-shade"></div>
        <hgroup class="e-titles">
            <h1 class="e-main-title">{{case.title}}</h1>
            <h2 class="e-tagline">{{case.description}}</h2>
            <h4>{{case.subtitle}}</h4>
            <div class="e-tags hide-for-small-only">
                <div class="e-left">
                    <p class="">Wirkung</p>
                    <p class="">Bereich</p>
                    <!--<p class="">Ort</p>-->
                </div>
                <div class="e-right">
                    <p>
                        {% if case.impact_type is equalto 'citizens' %}Menschen befähigen
                        {% elif case.impact_type is equalto 'government' %}Besser regieren
                        {% elif case.impact_type is equalto 'economic' %}Chancen schaffen
                        {% elif case.impact_type is equalto 'public' %}Probleme lösen
                        {% else %}{{case.impact_type | upper}}
                        {% endif %}
                    </p>
                    <p>
                        {% if case.sector is equalto 'health' %}Gesundheit
                        {% elif case.sector is equalto 'politics' %}Politik
                        {% elif case.sector is equalto 'education' %}Bildung
                        {% elif case.sector is equalto 'energy' %}Energie
                        {% elif case.sector is equalto 'arts' %}Kunst & Kultur
                        {% elif case.sector is equalto 'business' %}Wirtschaft
                        {% elif case.sector is equalto 'transportation' %}Transport
                        {% else %}{{case.impact | upper}}
                        {% endif %}
                    </p>
                    <!--<p>{{case.location | upper}}</p>-->
                </div>
            </div>
        </hgroup>
        <div id="download-button">
            <a href="./static/files/{{case.download}}" class="b-button m-{{case.impact_type}}" target="_blank">Report herunterladen<i
                    class="material-icons m-space">file_download</i></a>
        </div>
        {% if self.copyright() %}
        <div class="b-copyright">{% block copyright %}{% endblock %}</div>
        {% endif %}
    </div>

    <div class="row hide-for-small-only">
        <ul class="b-sidebar">
            <a href="#" id="facebook">
                <li class="facebook"><i class="fa fa-facebook"></i></li>
            </a><a href="#" id="linkedin">
            <li class="linkedin"><i class="fa fa-linkedin"></i></li>
        </a><a href="#" id="google-plus">
            <li class="google-plus"><i class="fa fa-google-plus"></i></li>
        </a><a href="#" id="twitter">
            <li class="twitter"><i class="fa fa-twitter"></i></li>
        </a><a href="#" id="email"
               message="mailto:?subject={{ case.title | urlencode }}&body={{ case.description + '\n\nRead More:\n\n' | urlencode }}">
            <li class="email"><i class="fa fa-envelope"></i></li>
        </a>
        </ul>
    </div>

    {% if self.challenge() %}
    <section class="b-page-section">
        <div class="row">
            <aside class="large-4 columns">
                <h3>Herausforderung:</h3>
            </aside>
            <div class="large-7 columns end">
                {% block challenge %}{% endblock %}
            </div>
        </div>
    </section>
    {% endif %}

    {% if self.solution() %}
    <section class="b-page-section">
        <div class="row">
            <aside class="large-4 columns">
                <h3>Lösung:</h3>
            </aside>
            <div class="large-7 columns end">
                {% block solution %}{% endblock %}

            </div>
        </div>
    </section>
    {% endif %}

    {% if self.datasets() %}
    <section class="b-page-section">
        <div class="row">
            <aside class="large-4 columns">
                <h3>Verwendete Datensätze:</h3>
            </aside>
            <div class="large-7 columns end">
                {% block datasets %}{% endblock %}
            </div>
        </div>
    </section>
    {% endif %}

    {% if self.benefitters() %}
    <section class="b-page-section">
        <div class="row">
            <aside class="large-4 columns">
                <h3>Wer profitiert?</h3>
            </aside>
            <div class="large-7 columns end">
                {% block benefitters %}{% endblock %}
            </div>
        </div>
    </section>
    {% endif %}

    {% if self.outcome() %}
    <section class="b-page-section">
        <div class="row">
            <aside class="large-4 columns">
                <h3>Und so funktioniert's:</h3>
            </aside>
            <div class="large-7 columns end">
                {% if self.shortinfo() %}
                <div class="info side-info light">
                    {% block shortinfo %}{% endblock %}
                </div>
                {% endif %}
                <div class="e-expandable">
                    {% block outcome %}{% endblock %}
                    <span class="e-read-more js-more-toggle" data-show-less="Weniger anzeigen">Weiter lesen</span>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if self.sources() %}
    <section class="b-page-section">
        <div class="row">
            <aside class="large-4 columns">
                <h3>Quellen:</h3>
            </aside>
            <div class="large-7 columns end text-left">
                {% block sources %}{% endblock %}
            </div>
        </div>
    </section>
    {% endif %}

    <!-- read next section -->
    {% set next_id = 0 %}
    {% if cases[case_id+1] %}
    {% set next_id = case_id+1 %}
    {% endif %}

    <div class="b-divider m-next small-padding impact-{{cases[next_id].impact_type}}">
        <div class="row">
            <div class="medium-6 medium-offset-6 columns end text-right">
                <h4>Weiter lesen:</h4>
                <a href="case-{{cases[next_id].title|slug}}.html"
                   class="impact-{{case.impact_type}}">
                    <h5>{{cases[next_id].title}}</h5>
                </a>
            </div>
        </div>
    </div>
    <!-- end of read next -->
</main>

<script src="static/js/case-study-scripts.js"></script>
<script src="static/js/enlarge-images.js"></script>

{% endblock %}