{% extends "_base.html" %}
{% block page_id %}about-page{% endblock %}

{% block navelements %}
<div class="e-nav-group m-right hide-for-small-only">
    <a href="./index.html" class="e-nav-item" id="nav-about">Home</a>
    <a href="./supporters.html" class="e-nav-item" id="nav-supporters">Befürworter</a>
</div>
<div class="e-nav-group m-right show-for-small-only dropdown">
    <a class="e-nav-item activate-dropdown"><i class="fa fa-ellipsis-h"></i></a>
    <ul class="m-transparent">
        <li>
            <a href="./index.html" class="e-nav-item">Home</a>
        </li>
        <li>
            <a href="./supporters.html" class="e-nav-item">Befürworter</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<main role="main">
    <header class="b-top-section">
        <div class="b-wrap">
            <h2>Über datenwirken.de</h2>
            <h3>Warum sind offene Daten wichtig? Warum diese Sammlung von Beispielen guter Praxis? Und wer steckt
                dahinter?</h3>
        </div>
    </header>

    <section id="what-is-open-data" class="b-page-section">
        <div class="row">
            <div class="column medium-3">
                <h3 class="">Warum offene Daten?</h3>
            </div>
            <div class="column medium-8 end">
                <p>
                    Offene Daten sind einfach und universell zugängliche Datensätze, die kostenlos verwendet werden
                    dürfen und eigens für die maschinelle Verarbeitung aufbereitet sind. Mit Datensätzen, die diese
                    Anforderungen erfüllen, lassen sich - oft in Kombination mit anderen Datenarten aus
                    unterschiedlichen Quellen - wirtschaftlich und gesellschaftlich ungemein nutzbringende Anwendungen
                    erstellen. Das gilt insbesondere auch für Daten, die von der öffentlichen Hand zur Verfügung
                    gestellt werden (so genannte "offene Regierungsdaten").
                </p>
            </div>
        </div>
    </section>

    <section id="why-this-open-data" class="b-page-section">
        <div class="row">
            <div class="column medium-3">
                <h3 class="">Warum diese Beispielsammlung?</h3>
            </div>
            <div class="column medium-8 end">
                <p>
                    In Deutschland gibt es fabelhafte Ansätze zur Bereitstellung und Nutzung offener Daten. Das zu
                    zeigen ist ein Anliegen dieser Sammlung. International ist die breitflächige, systematische Öffnung
                    von Daten allerdings insgesamt weiter fortgeschritten. Welche Anwendungen und Geschäftsmodelle unter
                    diesen Bedingungen möglich sind, verdeutlichen wir an konkreten Beispielen. Mit diesem Projekt, das 
                    keinerlei kommerzielle Interessen verfolgt oder solchen dient, möchten wir einen Beitrag dazu leisten, 
                    das Potenzial offener Daten in Deutschland aufzuzeigen und zu nutzen.
                </p>
            </div>
        </div>
    </section>
    <section id="contribution" class="b-page-section">
        <div class="row">
            <div class="column medium-3">
                <h3>Und wer steckt dahinter?</h3>
            </div>
            <div class="column medium-8 end">
                <p>
                    <a href="datenwirken.de" target="_blank">datenwirken.de</a> ist ein Gemeinschaftsprojekt von
                    stiftung neue verantwortung (<a href="www.stiftung-nv.de/opendata" target="_blank">www.stiftung-nv.de/opendata</a>)
                    und Open Knowledge Foundation Deutschland (<a href="www.okfn.de" target="_blank">www.okfn.de</a>).
                    Der Quellcode der Seite ist mit finanzieller Unterstützung des Omidyar Network (<a
                        href="www.omidyar.com" target="_blank">www.omidyar.com</a>) ursprünglich vom New Yorker GovLab (<a
                        href="www.govlab.org" target="_blank">www.govlab.org</a>) für die Fallbeispielserie "Open Data's
                    Impact" (<a href="www.odimpact.org" target="_blank">www.odimpact.org</a>) entwickelt worden. Der
                    Code steht unter CC 4.0-Lizenz und kann frei weiterverwendet werden - <a
                        href="https://github.com/GovLab/open-data-impact-case-studies" target="_blank">https://github.com/GovLab/open-data-impact-case-studies</a>
                    - Beim GovLab und Omidyar Network bedanken wir uns für die Unterstützung bei der
                    Realisierung von <a href="datenwirken.de" target="_blank">datenwirken.de</a>!

                </p>
            </div>
        </div>
    </section>
    <section id="logos" class="b-page-section m-black m-no-top-padding">
        <div class="row">
            <div class="column medium-offset-3 medium-2 text-center h6-top-padding snv-logo">
                <div class="logo-container small">
                    <img src="static/img/partners/snv_weiss.svg" alt="stiftung neue verantwortung"/>
                </div>
            </div>
            <div class="column medium-2 text-center h6-top-padding okfn-logo">
                <div class="logo-container small">
                    <img src="static/img/partners/okfn-logo.png" alt="OKFN"/>
                </div>
            </div>
            <div class="column medium-4 end">
                <h6>Mit Unterstützung von:</h6>
                <div class="row">
                    <div class="column medium-6 text-center ">
                        <div class="logo-container small">
                            <img src="static/img/partners/govlab-logo-white.png" alt="GovLab"/>
                        </div>
                    </div>
                    <div class="column medium-6 text-center">
                        <div class="logo-container small">
                            <img src="static/img/partners/omidyar-logo-white.svg" alt="Omidyar Network "/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
        <section id="contributors" class="b-page-section">
            <div class="row">
                <div class="column medium-3"><h3>Who Contributed?</h3></div>
                <div class="column medium-8 end">
                    <p>During the development of its case studies on open data’s impact, the GovLab interviewed the following stakeholders and experts:</p>
                    <div class="row">
                        <div class="column medium-6">
                            <ul class="b-list-of-names">
                                <li><strong>Neil Ackroyd</strong>Chief Operating Officer, Ordnance Survey</li>
                            </ul>
                        </div>
                        <div class="column medium-6">
                            <ul class="b-list-of-names">
                                <li><strong>David Lasby</strong>Director of Research, Imagine Canada</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            -->
    <section class="b-page-section">
        <div class="row">
            <div class="column medium-3">
                <h3>Kontaktieren Sie uns</h3>
            </div>
            <div class="column medium-8 end">
                <p>
                    Wir freuen uns über Ihre Rückmeldung zu dieser Website! Bitte füllen Sie dazu das Formular aus. Für
                    Hinweise auf weitere Beispiele guter Praxis der Verwendung offener Daten sind wir dankbar.
                </p>
                <form class="b-form" action="http://formspree.io/tknobloch@stiftung-nv.de" method="POST">
                    <input id="name" type="text" placeholder="Name*" name="name" required>
                    <input id="org" type="text" placeholder="Organisation" name="organization">
                    <input id="email" type="email" placeholder="E-Mail-Adresse" name="email">
                    <textarea id="msg" placeholder="Ihre Nachricht an uns*" name="message" required></textarea>
                    <input type="hidden" name="_next" value="thanks.html"/>
                    <input type="submit" value="Abschicken">
                </form>
            </div>
        </div>
    </section>

    <section class="b-divider m-blue"></section>

    {% include 'includes/_impressum.html' %}
</main>

{% endblock %}

{% block customscripts %}
<script type="text/javascript">
    $('.js-more-toggle').click(function () {
        $(this).parent().toggleClass('m-active');
    })
</script>
{% endblock %}
