{% extends "_base.html" %}
{% block page_id %}about-page{% endblock %}

{% block navelements %}
<div class="e-nav-group m-right hide-for-small-only">
    <a href="./index.html" class="e-nav-item" id="nav-about">Home</a>
</div>
<div class="e-nav-group m-right show-for-small-only dropdown">
    <a class="e-nav-item activate-dropdown">...</a>
    <ul class="m-transparent">
        <li>
            <a href="./index.html" class="e-nav-item">
                Home
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<main role="main">
    <header class="b-top-section">
        <div class="b-wrap">
            <h2>About Open Data’s Impact Repository</h2>
            <h3>What do we mean by Open Data? Why does it matter? How did we study it? And who contributed?</h3>
        </div>
    </header>

    <section id="what-is-open-data" class="b-page-section">
        <div class="row">
            <div class="column medium-3">
                <h3 class="tbd">TBD</h3>
            </div>
            <div class="column medium-8 end">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dolorem eaque laboriosam sed sint
                    tempore unde. A excepturi iusto molestias quibusdam voluptas! Amet, autem exercitationem labore
                    pariatur ratione repellat vero!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dolorem eaque laboriosam sed sint
                    tempore unde. A excepturi iusto molestias quibusdam voluptas! Amet, autem exercitationem labore
                    pariatur ratione repellat vero!</p>
            </div>
        </div>
    </section>
    <section id="logos" class="b-page-section">
        <div class="row">
            <div class="column medium-3">
                &nbsp;
            </div>
            <div class="column medium-2">
                <img src="static/img/logo-1.png" class="tbd" alt="Logo 1"/>
            </div>
            <div class="column medium-2">
                <img src="static/img/logo-2.png" class="tbd" alt="Logo 2"/>
            </div>
            <div class="column medium-2">
                <img src="static/img/logo-3.png" class="tbd" alt="Logo 3"/>
            </div>
            <div class="column medium-2 end">
                <img src="static/img/logo-4.png" class="tbd" alt="Logo 4"/>
            </div>
        </div>
    </section>
    <!--
        <section id="contributors" class="b-page-section">
            <div class="row">
                <div class="column medium-3"><h3>Who Contributed?</h3></div>
                <div class="column medium-8 end">
                    <p>During the development of its case studies on open data’s impact, the GovLab interviewed the following stakeholders and experts:</p>
                    <div class="row">
                        <div class="column medium-6">
                            <ul class="b-list-of-names">
                                <li><strong>Neil Ackroyd</strong>Chief Operating Officer, Ordnance Survey</li>
                            </ul>
                        </div>
                        <div class="column medium-6">
                            <ul class="b-list-of-names">
                                <li><strong>David Lasby</strong>Director of Research, Imagine Canada</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            -->
    <section class="b-page-section">
        <div class="row">
            <div class="column medium-3">
                <h3>Kontaktieren Sie uns</h3>
            </div>
            <div class="column medium-8 end">
                <p class="tbd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias asperiores
                    aut culpa,
                    dignissimos eum fugit illum neque optio, rem sed sit sunt tempore! Amet commodi iste iusto similique
                    sint!</p>
                <form class="b-form" action="http://formspree.io/tknobloch@stiftung-nv.de" method="POST">
                    <input id="name" type="text" placeholder="Name*" name="name" required>
                    <input id="org" type="text" placeholder="Organisation" name="organization">
                    <input id="email" type="email" placeholder="E-Mail-Adresse" name="email">
                    <textarea id="msg" placeholder="Ihre Nachricht an uns*" name="message" required></textarea>
                    <input type="hidden" name="_next" value="thanks.html"/>
                    <input type="submit" value="Abschicken">
                </form>
            </div>
        </div>
    </section>
</main>

{% endblock %}

{% block customscripts %}
<script type="text/javascript">
    $('.js-more-toggle').click(function () {
        $(this).parent().toggleClass('m-active');
    })
</script>
{% endblock %}





