{% extends "_case-studies.html" %}
{% set case_id = 14 %}

<!----------------------------------------------------->
{% block challenge %}
<p>
    Der Druck auf die gesetzlichen Krankenkassen wird immer größer, nicht nur in Deutschland. Bei der Verschreibung von
    Medikamenten sind Generika nachweislich ebenso wirksam wie deutlich teurere Markenprodukte bzw. Originalpräparate.
    Damit dennoch sichergestellt wird, dass jeder Patient das Medikament verschrieben bekommt, das ihm am besten hilft,
    steht es Ärzten frei, welches Medikament sie verschreiben. Die Praxis dieser Verschreibungen durch die Ärzte wurde
    aber bisher nicht analysiert, sodass zu vermuten ist, dass die Krankenkassen jährlich hohe Summen für teure
    Medikamente tragen müssen, weil die günstigeren, aber ebenso wirkungsvollen Generika nicht verschrieben werden.
</p>

{% endblock %}
<!----------------------------------------------------->
{% block solution %}
<p>
    <span class="float-img"><img src="static/img/studies/nhs-1.jpg"/></span>
    Die beiden britischen Start-ups Mastodon C und Open Health Care UK haben gemeinsam mit dem Arzt und Pharma-Kritiker
    Ben Goldacre verschiedene offene Datensätze kombiniert, um regionale Verschreibungsmuster von Original- und
    Generika-Statinen in England zu untersuchen. Ihre Ergebnisse, die sie in einem anschaulichen Online-Tool
    präsentieren, machen deutlich, dass vielerorts deutlich mehr Markenmedikamente verschrieben werden, als es durch
    klinische Gründe erklär- und vertretbar wäre. Das Team hat sich bei ihrer Analyse auf Statine konzentriert, die zur
    Vorbeugung gegen Herzinfarkte und Schlaganfälle verschrieben werden und zu den teuersten Medikamenten gehören, die
    die Krankenkassen jährlich belasten.
</p>
{% endblock %}
<!----------------------------------------------------->
{% block datasets %}
<p>
    <span class="float-img"><img src="static/img/studies/nhs-2.jpg"/></span>
    Das Team hat hierfür die offenen Daten von NHS (National Health Service) verwendet, die das Verschreibungsverhalten
    landesweit widerspiegeln. Diese werden monatlich öffentlich zugänglich gemacht und geben die Anzahl und Kosten der
    NHS Verschreibungen jedes einzelnen Doktors in England wider.
</p>
{% endblock %}
<!----------------------------------------------------->

{% block benefitters %}
<p>Von der Analyse des Verschreibungsverhaltens profitieren zunächst einmal die gesetzlichen Krankenkassen, wenn Ärzte
    dadurch angeregt werden, die massenhafte Verschreibung von teuren Markenmedikamenten zu überdenken. Sie werden
    entlastet, können das Geld an anderer Stelle sinnvoll einsetzen und Beitragserhöhungen für die Versicherten
    vermeiden. Selbstverständlich gibt es Fälle, in denen auf solche teuren Medikamente zurückgegriffen werden sollte,
    beispielsweise bei vorliegenden Unverträglichkeiten. Bei allen anderen Patienten liegt es allerdings nahe, dass
    Generikamedikamente – die nachweislich ebenso wirkungsvoll sind – verschrieben werden sollten. So profitiert das
    gesamte Gesundheitssystem, allen voran die Patienten.</p>
{% endblock %}
<!----------------------------------------------------->
{% block outcome %}
<p>
    Ben arbeitet als Arzt in einem Londoner Krankenhaus und jeden Tag verschreibt er seinen Patienten eine große Zahl
    von Medikamenten zu ihrem Wohlergehen. Nach vielen Jahren Berufserfahrung weiß er, dass jeder Arzt seinen eigenen
    Erfahrungsschatz mit der Verschreibung von Medikamenten besitzt und darum auch unterschiedliche Medikamente
    präferiert oder für sinnvoll erachtet.
</p>
<p class="e-img"><img src="static/img/banners/nhs.jpg"/></p>
<p>
    Von einem Kollegen aus der Chirurgie bekommt er einen Artikel im “The Economist” empfohlen, der über ein neues
    Analysetool für das Verschreibungsverhalten von Ärzten in Großbritannien berichtet. Darin geht es vor allem um die
    Frage, wie oft Generikastatinen gegenüber den Orginialpräparaten verschrieben werden. Statine werden vor allem im
    Zusammenhang mit Herzinfarkten verwendet, z.b. zur Prävention oder Prophylaxe nach einem Infarkt. Ben weiß, dass die
    Statine für die Krankenkassen besonders teure Medikamente sind, aber seiner Erfahrung nach müssen sie im
    Krankenhausalltag auch sehr häufig verschrieben werden. Außerdem hat er als Arzt die Wahl, ob er die für die
    Krankenkassen sehr teuren Originalpräparate oder die wesentlich günstigeren Generika verschreibt, die nachweislich
    ebenso wirksam sind.
</p>
<p>
    Der Artikel im “The Economist” berichtet Ben, dass zwei britische Startups mithilfe der offenen Datensätze des
    National Health Service landesweit das Verschreibungsverhalten von Statinen – Generika und Originalpräparaten –
    untersucht und ein Einsparpotential von £200 Millionen pro Jahr errechnet haben, für den Fall, das jeder Arzt
    Generika Statine statt der Orignialpräparate verschreiben würde. Das jeder Arzt selbst darüber entscheiden kann,
    welches Medikament er einem Patienten verschreibt findet Ben völlig richtig, denn als Arzt kann er am besten
    abschätzen, was für den jeweiligen Patienten am besten ist. Als er aber unter
    <a href="www.prescribinganalytics.com" target="_blank">www.prescribinganalytics.com</a> die
    eingefärbte Karte Großbritanniens sieht, die das Verschreibungsverhalten der Ärzte widerspiegelt, ist er doch
    überrascht und auch verärgert. In einigen Regionen, z.B. rund um die Stadt Leeds im Norden Großbritannien, sind
    knapp ein Drittel der verschriebenen Statine teure Originalpräparate. Natürlich gibt es Fälle, beispielsweise bei
    Allergien oder Unverträglichkeiten, in denen ein Arzt die bis zu 20-fach teureren Originalpräparate verschreiben
    würde, aber knapp 30% sind dadurch eindeutig nicht zu rechtfertigen. Als Arzt ist Ben dazu angehalten, die deutlich
    günstigeren Generika zu verschreiben, sofern keine Einwände vorliegen, und daran orientiert er sich auch. Von seinem
    Alltag im Krankenhaus weiß Ben nur zu gut, unter welchem finanziellen Druck das Gesundheitssystem steht. Das
    Gesundheitssystem ächzt bereits jetzt unter den Belastungen und Ben weiß, wie wichtig es ist, dass gute
    Krankenversicherungen bezahlbar bleiben. Zu sehen, wie unachtsam offenbar zahlreiche Ärzte im Land mit den Kosten
    für die Krankenkassen umgehen, macht ihn wütend. Er teilt den Artikel und die Webseite, die die beiden Startups
    Mastodon C und Open Health Care UK erstellt haben in seinen sozialen Netzwerken und empfiehlt sie weiter an Freunde
    und Kollegen. So hofft er, dass noch mehr Ärzte darauf aufmerksam werden und ihre Verschreibungspraxis überdenken.
    Eine kleine Veränderung die jeder Arzt vornehmen kann, keinen schlechter stellt und eine große Entlastung für das
    Gesundheitssystem bedeutet. In Zukunft will die Startup Kooperation das Verschreibungsverhalten für noch mehr
    Medikamente analysieren. Ben ist gespannt, welche Ergebnisse das hervorbringen wird, auch wenn er der Meinung ist,
    das Ärzte in jedem Fall selbst weiterhin entscheiden sollten, welche Medikamente einem Patienten am besten helfen.
    Er selbst wurde durch die Initiative auf jeden Fall für sein eigenes Verschreibungsverhalten erneut deutlich
    sensibilisiert und er hofft, dass es vielen Ärzten so ergeht.
</p>
{% endblock %}
<!----------------------------------------------------->
{% block sources %}
<p>
    Die offizielle Website: <a href="http://www.prescribinganalytics.com/" target="_blank">http://www.prescribinganalytics.com/</a>
</p>
<p>
    <a href="http://www.economist.com/news/britain/21567980-how-scrutiny-freely-available-data-might-save-nhs-money-beggar-thy-neighbour"
       target="_blank">http://www.economist.com/news/britain/21567980-how-scrutiny-freely-available-data-might-save-nhs-money-beggar-thy-neighbour</a>
</p>
<p>
    <a href="https://www.england.nhs.uk/ourwork/tsd/data-info/open-data/examples/" target="_blank">https://www.england.nhs.uk/ourwork/tsd/data-info/open-data/examples/</a>
</p>
<p>
    <a href="https://theodi.org/case-studies/mastodon-c-case-study" target="_blank">https://theodi.org/case-studies/mastodon-c-case-study</a>
</p>
<p>
    <a href="https://theodi.org/news/prescription-savings-worth-millions-identified-odi-incubated-company"
       target="_blank">https://theodi.org/news/prescription-savings-worth-millions-identified-odi-incubated-company</a>
</p>
<p>
    <a href="http://wk-blog.wolfgang-ksoll.de/2014/07/07/open-data-institute-odi-open-data-in-a-day/" target="_blank">http://wk-blog.wolfgang-ksoll.de/2014/07/07/open-data-institute-odi-open-data-in-a-day/</a>
</p>
{% endblock %}
<!----------------------------------------------------->