{% extends "_case-studies.html" %}
{% set case_id = 3 %}


{% block challenge %}
<p>
    Viele Nutzerinnen und Nutzer öffentlicher Verkehrsbetriebe möchten sich gerne per Smartphone über Haltestellen,
    Ankunftszeiten und Verspätungen informieren. Diese Apps selbst zu entwickeln ist aber sehr teuer und oft fehlt den
    Betreibern der öffentlichen Nahverkehrsunternehmen dazu die nötige Expertise.
</p>

{% endblock %}

{% block solution %}
<p>
    <span class="float-img"><img src="static/img/studies/tfl-1.png" alt="Transport for London"/></span>
    Die <a href="https://tfl.gov.uk/" target="_blank">Londoner Verkehrsbetriebe</a> (Transport for London,
    TfL) verfolgen die Strategie, ihre Daten zu öffnen, sodass möglichst viele solcher Apps von freien
    Entwicklern erstellt werden können, die dann wiederum den Nutzerinnen und Nutzern des öffentlichen
    Nahverkehrs helfen.
</p>

{% endblock %}

{% block datasets %}
<p>
    Die von <a href="https://tfl.gov.uk/info-for/open-data-users/data-feeds#on-this-page-1" target="_blank">TfL
    bereitgestellten Datensätze</a> beinhalten:
</p>
<ul>
    <li>Fahrpläne</li>
    <li>Preise</li>
    <li>Haltestellen & Infrastruktur (Aufzüge etc.)</li>
    <li>Reiseplanung & Status (aktuelle Ankunfts- & Abfahrtzeiten)</li>
    <li>Aktuelle Unterbrechungen & geplante Bauarbeiten</li>
    <li>Routen & Linien (geographisch & topologisch)</li>
</ul>
<p>Auf der Webseite von TfL ist nachzulesen, wie oft die Datensätze aktualisiert werden - manche alle 30 Sekunden, wie
    im Fall von Änderungen von U-Bahngleisen, andere nur jährlich, wie beispielsweise die Anzahl an Passagieren.</p>

</p>
{% endblock %}


{% block benefitters %}
<p>
    Alle, die die öffentlichen Verkehrsmittel in London nutzen sowie die Londoner Verkehrsbetriebe selbst, die nun
    zufriedenere und besser informierte Kundinnen und Kunden haben.
</p>
{% endblock %}


{% block outcome %}
<p>
    John, seit vielen Jahren Mitarbeiter im Bereich des Kundenservice der Londoner Verkehrsbetriebe erreichten über die
    Jahre mehr und mehr Anfragen, warum keine Fahrpläne per App abrufbar seien. Auch mehrten sich Beschwerden, warum es
    nicht möglich sei, sich auf dem Handy unterwegs über Verspätungen zu informieren. Doch so sehr John und seine
    Kolleginnen und Kollegen diese Forderungen nachvollziehen konnten, wussten sie nur wenig darüber, wie man solche
    Apps entwickelt. Da sie jedoch von der Sinnhaftigkeit dieser Anwendungen überzeugt waren, überlegten sie sich, wie
    es möglich sein könnte, dem Wunsch der Kunden nachzukommen. Daraus entstand ein Prozess, bei dem Transport for
    London langsam seine Daten öffnete, damit Entwickler und Entwicklerinnen diese für die Erschaffung von Apps für den
    öffentlichen Nahverkehr nutzen konnten.
</p>
<p>
    <span class="float-img"><img src="static/img/studies/tfl-2.png" alt="Transport for London"/></span>
    Im Jahr 2009 richtete TfL zunächst einen speziellen Bereich für Entwickler auf seiner Webseite ein. Seit 2010 gibt
    es den „London Datastore”, das Open Data Portal der „Greater London Authority” (GLA), in dem auch TfL seine
    Datensätze veröffentlicht.
</p>
<p>
    2014 nutzen bereits 362 Smartphone Apps Daten von TfL. Daten zeigen, wie viel Zeit durch
    Verkehrsunterbrechungen jährlich verloren geht, welchen Geldwert Verkehrsteilnehmende der verlorenen Zeit beimessen,
    sowie mittels Schätzungen, wie viele Reisende mithilfe von TfL-basierten Apps diese Unterbrechungen umgehen konnten.
    Daraus basiened
    schätze Deloitte den Wert der Zeit, die dank neuen Anwendungen gespart werden konnte, im Jahr 2012 auf zwischen
    £15m-£58m ein. Die
    Kostenersparnis für Transport for London (im Vergleich zur Entwicklung der Apps durch TfL selbst) wird wie folgt
    geschätzt:

<blockquote>
    „It is possible to conclude that TfL have so far saved between £15m-£42m through opening raw data to the app
    market, rather than developing all its apps in-house.” (Hogge 2015, S. 14).
</blockquote>
</p>
<p>
    <span class="float-img"><img src="static/img/studies/tfl-3.png" alt="Transport for London"/></span>
    Die Daten von TfL entsprechen allerdings nicht vollständig dem Konzept von Open Data. So müssen sich Nutzerinnen und
    Nutzer beispielsweise registrieren und den Zweck angeben, für den die Daten verwendet werden. Die Datenlizenz ist
    zwar grundsätzlich angelehnt an die Open Government Licence 2.0, hat aber zusätzliche Einschränkungen, wie
    beispielsweise eine Limitierung des API-Zugriffs. Im Jahr 2013 waren über 5000 Nutzer registriert.
</p>
<p>
    Dabei werden die Daten von TfL nicht nur für die Entwicklung von Apps für den öffentlichen Nahverkehr genutzt. Auch
    bei der Bestimmung günstiger Standorte für die Eröffnung von Geschäften sind diese Daten nützlich. Auf diese Weise
    nutzt beispielsweise die Firma GeoLytix, ein anderes Beispiel unseres Showrooms, die Daten von TfL. Die Wissenschaft
    wiederum verwendet Daten von TfL, um etwa Verkehrssicherheit zu erforschen. Ein Beispiel dafür ist das Center for
    Advanced Spatial Analysis am University College London, das Visualisierungen von Verkehrsströmen erstellt.

</p>

</p>
{% endblock %}

{% block shortinfo %}
<!-- steckbrief -->
<div>
    <h6>So stellt TfL seine Daten zur Verfügung:</h6>

    <ul>
        <li>Statische Datensätze, die sich selten verändern</li>
        <li>Feeds – Datensätze die regelmäßig aktualisiert werden</li>
        <li>APIs (Application Programming Interface)</li>
    </ul>
    <p>
        Datensätze werden in der Regel im XML-Format veröffentlicht.
    </p>
</div>


{% endblock %}


{% block sources %}
<p>
    Transport for London (2015): <em>Open Data Users</em>. Siehe: <a href="https://tfl.gov.uk/info-for/open-data-users/"
                                                            target="_blank">https://tfl.gov.uk/info-for/open-data-users/</a>
</p>
<p>
    Deloitte (2013): <em>Market Assessment of Public Sector Information</em>. Appendix 6: Transport Sector Case Study. pp.
    194-204. Verfügbar unter:
    <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/198905/bis-13-743-market-assessment-of-public-sector-information.pdf"
       target="_blank">https://www.gov.uk/government/<wbr>uploads/system/uploads/attachment_data/<wbr>file/198905/bis-13-743-market-assessment-of-public-sector-information.pdf</a>
</p>

<p>
    Hogge, Becky (2015): <em>Open Data. Six Sories about Impact in the UK</em>. Commissioned by Omidyar Network, pp. 10-16.
    Verfügbar unter:
    <a href="https://www.omidyar.com/sites/default/files/file_archive/insights/Open%20Data_Six%20Stories%20About%20Impact%20in%20the%20UK/OpenData_CaseStudies_Report_complete_DIGITAL_102715.pdf"
       target="_blank">https://www.omidyar.com/<wbr>sites/default/<wbr>files/file_archive/insights/<wbr>OpenData_SixStoriesAboutImpactintheUK/<wbr>OpenData_CaseStudies_Report_<wbr>complete_DIGITAL_102715.pdf</a>

</p>
<p>Reed, Simon (2013). <em>Transport for London – Using Tools, Analytics and
    Data to Inform Passengers</em>. Verfügbar unter:
    <a href="http://www.lta.gov.sg/ltaacademy/doc/13Sep096-Reed_TfL-InformPassengers.pdf" target="_blank">http://www.lta.gov.sg/ltaacademy/doc/13Sep096-Reed_TfL-InformPassengers.pdf</a>

</p>
{% endblock %}
