{% extends "_case-studies.html" %}
{% set case_id = 2 %}


{% block challenge %}
<p>
    <span class="float-img"><img src="static/img/studies/atu-1.png" alt="At U Servicio Logo"/></span>
    Vielen Menschen fällt es schwer, die passendste Krankenversicherung oder den idealen Gesundheitsdienst zu
    identifizieren, da die relevanten Informationen oft unübersichtlich sind. Im privat-öffentlich gemischten
    Gesundheitssystem von Uruguay gibt es neben öffentlichen auch private Gesundheitsdienstleister (Mutualista), zu
    denen jeweils eine Reihe von Kliniken, Notdiensten, Ärzten und Fachärzten gehören. Diese Gesundheitsdienste verfügen
    also über eine eigene Infrastruktur. Jedes Jahr im Februar können Bürgerinnen und Bürger neu entscheiden, ob sie
    ihren Anbieter wechseln möchten. Um zu wissen, welche Dienstleister das passende Leistungsspektrum anbieten, war
    bislang allerdings eine mühsame Suche nach weit verstreuten Informationen notwendig.
</p>

{% endblock %}

{% block solution %}
<p>
    Die zivilgesellschaftliche Gruppe <em>Datos Abiertos, Transparencia y Acceso a la Inform</em> (DATA) hat in
    Zusammenarbeit
    mit dem Gesundheitsministerium Uruguays eine Website geschaffen, auf der Informationen zu öffentlichen und privaten
    Gesundheitsdiensten des Landes übersichtlich dargestellt werden. Damit können Nutzerinnen und Nutzer nicht nur alle
    relevanten Informationen an einem Ort finden, sondern auch verschiedene Dienste miteinander vergleichen.
</p>

{% endblock %}

{% block datasets %}

<p>Die Webseite „A tu servicio“ verwendet <a href="https://catalogodatos.gub.uy/" target="_blank">offene Daten</a> des
    Gesundheitsministeriums von Uruguay (Ministerio de Salud Pública).</p>
<p class="e-img"><img src="static/img/studies/atu-2.png" alt=""/></p>
{% endblock %}

{% block benefitters %}
Alle Menschen, die sich über eine neue Versicherungsform und über das Gesundheitssystem informieren müssen. Darüber hinaus auch die Gesundheitsdienstleister, deren Angebote nun viel leichter zu finden sind.
{% endblock %}


{% block outcome %}
<p>
    Der neunjährige Sohn von Miguel muss wegen seines Asthmas regelmäßig zum Arzt. Bis vor einiger Zeit ist Miguel
    deshalb mit seinem Sohn Gabriel immer zum Gesundheitszentrum in der Stadtmitte gegangen, weil er davon ausgegangen
    war, dass dieses große Fachärztezentrum die richtige Anlaufstelle sei. Sicher war er sich dabei jedoch nicht und die
    langen Wartezeiten in Verbindung mit dem eher ruppigen Umgangston der Ärzte dort führten dazu, dass Gabriel immer
    sehr missgelaunt wurde, sobald sie wieder dorthin fahren mussten. Seit dem letzten Jahr hat Miguel nun eine neue
    Möglichkeit, sich über die Qualität und den Service verschiedener Gesundheitsdienste und der dazu gehörigen Praxen
    und Kliniken zu informieren.
</p>
<p>
    Die auf offenen Daten des Gesundheitsministeriums basierende Internetseite &#8222;A tu servicio&#8221; (&#8222;Zu
    deinen Diensten&#8221;)
    bietet Bürgerinnen und Bürger den Service, die Qualität von verschiedenen Gesundheitsdiensten (privat und
    öffentlich) vergleichen können. Die Seite bietet Informationen über:
</p>
<ul>
    <li>Angebotene Untersuchungen</li>
    <li>Wartezeiten</li>
    <li>Sprechzeiten</li>
    <li>Kosten</li>
    <li>Patientenrechte</li>
    <li>Größe der Praxen (Personal)</li>
    <li>Art der zugehörigen Einrichtungen (Praxen, Kliniken, Notfalldienste)</li>
    <li>Fachrichtungen der in der Praxis oder Klinik praktizierenden Ärztinnen und Ärzte</li>
</ul>
<p class="e-img"><img src="static/img/studies/atu-3.png" alt=""/></p>
<p>
    Dabei können Nutzerinnen und Nutzer Gesundheitsdienstleister miteinander vergleichen und Bewertungen über
    verschiedene Aspekte abgeben, beispielsweise hinsichtlich der Verfügbarkeit von Medikamenten oder der Länge von
    Wartezeiten. Miguel hat dabei entdeckt, dass ein anderer Gesundheitsdienst eine Kinderarztpraxis in einem Nachbarort
    hat, die sich auf die Behandlung von Kindern mit Asthma und Allergien spezialisiert hat. Die Ärztinnen dort gehen
    verständnisvoller mit Gabriel um, sie erklären Miguel die verschiedenen Teile der Behandlung genauer und auch im
    Wartezimmer ist man auf Patientinnen und Patienten jüngeren Alters eingestellt. Noch dazu hat Miguel festgestellt,
    dass die Praxis im nahegelegenen Nachbarort von seiner Wohnung aus in weniger Fahrzeit zu erreichen ist als das
    Gesundheitszentrum im Stadtkern. Darauf hin beschließt er, seinen Gesundheitsdienst zu wechseln.
</p>

<p>
    Eine Internetplattform wie &#8222;A tu servicio&#8221; hat nicht nur für individuelle Nutzer wie Miguel einen
    Mehrwert, sondern könnte das Gesundheitssystem insgesamt verbessern. Einerseits können Verwaltungsbeamte sehen, dass
    ihre Daten tatsächlich genutzt werden und sind so dazu inspiriert, weitere Daten zu öffnen. Andererseits merken
    Gesundheitsdienste, dass ihre Arbeit beobachtet und verglichen wird. Dieses Mehr an Transparenz kann langfristig zu
    einer besseren Gesundheitsversorgung und zufriedeneren Patienten in Uruguay führen.
</p>

</p>
{% endblock %}

{% block shortinfo %}
<!-- steckbrief -->
<table>
    <tr>
        <th>Beginn:</th>
        <td>Februar 2015</td>
    </tr>
    <tr>
        <th>Finanzierung:</th>
        <td>
            Finanziert wurde das Projekt vom Ministerio de Salud Pública (Gesundheitsministerium) und der Initiative
            Iniciativa Latinoamericana por los Datos Abiertos (ILDA)
        </td>
    </tr>
</table>
{% endblock %}


{% block sources %}
<p>Offizielle Seite:<br>
    <a href="http://atuservicio.uy/" target="_blank">http://atuservicio.uy/</a></p>

<p>Projektbeschreibung auf der Webseite von DATA:<br>
    <a href="http://www.datauy.org/portfolio/a-tu-servicio/" target="_BLANK">http://www.datauy.org/
        <wbr>
        portfolio/
        <wbr>
        a-tu-servicio/</a>
</p>
<p>Artikel der Sunlight Foundation über das Projekt:<br>
    <a href="https://sunlightfoundation.com/blog/2015/05/13/how-open-data-is-changing-the-way-uruguayans-choose-their-health-care/"
       target="_blank">https://sunlightfoundation.com/blog/2015/05/13/how-open-data-is-changing-the-way-uruguayans-choose-their-health-care/</a>


</p>
{% endblock %}
