{% extends "_case-studies.html" %}

{% set case_id = 0 %}


{% block challenge %}
<p>
    Da Neugründungen und Investitionen in neue Geschäfte oder Online-Stores sehr teuer sein können, gilt es hohe
    Ausgaben für Standortanalysen und Recherchen zu vermeiden. Trotzdem sind der richtige Standort und die passende
    Verkaufsstrategie von immanenter Wichtigkeit, doch vor allem kleine und mittelständische Unternehmen können sich oft
    keine aufwendige Beratung und Analysen leisten.
</p>
{% endblock %}

{% block solution %}
<p>
    Die britische Beratungsfirma GeoLytix analysiert Daten, um den idealen Standort für ein Geschäft oder den gelungenen
    Aufbau einer Online-Verkaufsplattform zu bestimmen. Dies kann auch die Optimierung von Lieferwegen, Kundenverhalten,
    die Analyse verschiedener Produkt-Zielgruppen oder den Nutzen alternativer Verkaufswege beinhalten.
</p>
{% endblock %}

{% block datasets %}
<p>
    GeoLytix nutzt mindestens die <strong>offenen Datensätze</strong> der folgenden Institutionen:
</p>
<ul>
    <li>Transport for London (TfL)</li>
    <li>National Rail</li>
    <li>The Land Registry</li>
    <li>Department for Education</li>
    <li>Department for Health</li>
    <li>OpenStreetMap</li>
</ul>
<p>
    Diese offenen Daten werden mit geschlossenen Daten der Kunden von GeoLytix (z.B. Daten von Kundenkarten oder
    Onlinekäufen) kombiniert.
</p>
{% endblock %}


{% block benefitters %}
<p>
    Unternehmen, die ihre Geschäftsstrategie mithilfe von Daten überprüfen und ausrichten möchten. Und natürlich
    GeoLytix, dessen Geschäftsmodell genau auf dieser Dienstleistung basiert.
</p>
{% endblock %}

{% block outcome %}
<p>Anna, Geschäftsleiterin einer erfolgreichen Supermarktkette, überlegt mit ihrem Team, eine
    neue Filiale zu eröffnen. Dabei weiß sie jedoch nicht, an welchem Standort sie die meisten
    Kunden erreichen könnte. Eignet sich die freie Stelle in der Nähe des U-Bahneingangs an der
    Hazelnut Street? Wie viele Leute kommen dort täglich vorbei? Gibt es in der Nähe eine Schule oder Uni,
    sodass Schüler oder Studentinnen den Supermarkt vor oder nach dem Unterricht besuchen würden?
    Welche Menschen leben sonst in diesem Viertel? Und an welcher Art von Produkten wären sie
    interessiert? Oder würde es sich eventuell doch lohnen, den Konkurrenzladen zwei Straßen weiter
    aufzukaufen?</p>

<p class="e-img"><img src="static/img/studies/geolytix-1.png" alt="Das GeoLytix-Team"/></p>
<p>Fragen wie diese kann die <strong>britische Firma GeoLytix</strong> beantworten. GeoLytix benutzt <strong>Open
    Data</strong>,
    um seinen Kunden Analysen über <strong>sinnvolle Verkaufsstrategien</strong> anzubieten. Zu diesen Analysen gehören
    unter anderem <em>Standorte von Geschäftsfilialen</em> (wie viele Filialen sind sinnvoll, an welchen Straßenecken,
    welche Produkte sollten dort angeboten werden, etc.) oder auch die <em>Nutzung verschiedener Verkaufskanäle</em>
    (wie sollte der Online-Shop aufgebaut sein, was sollte dort angeboten werden und sollten normale Filialen auch
    anbieten, ihre Waren nach Hause
    zu liefern).
</p>
<p>Deshalb wurde auch im Fall der Planung der neuen Supermarktfiliale GeoLytix mit einbezogen. Mit ihrer Hilfe sollte
    das tägliche Fahrgastvolumen an dieser U-Bahnstation sowie die Kundengruppe ermittelt werden, die diese U-Bahn
    benutzen. Damit konnte modelliert werden, wie viele Leute täglich durchschnittlich an diesem Geschäft vorbei gehen
    würden und welche Produktpräferenzen sie im Vergleich zu den dort wohnenden Menschen haben, um die optimale
    Produktauswahl für diese Filiale zu ermitteln. Damit konnte das Geschäftspotenzial ermittelt werden.</p>
<p class="e-img"><img src="static/img/studies/geolytix-2.png" alt="Das GeoLytix-Team"/></p>
<p>Das Geschäftsmodell von GeoLytix basiert darauf, dass Kunden <strong>nicht für die Daten zahlen, sondern für den
    durch die
    Datenanalyse und das Anpassen der Datensätze geschaffenen Mehrwert</strong>. Dazu benutzt GeoLytix Geodaten der
    britischen
    Regierung (<a href="https://data.gov.uk" target="_blank">https://data.gov.uk</a>) und Geodaten aus anderen Quellen,
    um umfangreiche Datensätze zu entwickeln, die dann mit Kundendaten kombiniert werden können.</p>
<div class="side-info light">
    <h6>GeoLytix nutzt insbesondere die folgenden offenen Verwaltungsdaten:</h6>

    <p>Siedlungen; Amtliche Grenzverläufe; Postleitzahlen; Physische Geographie; Landnutzung; Eigentumsdaten
        einschließlich
        Preis; Geschäftsdaten; Demografische Daten; (Zensus); Standorte von Gesundheitseinrichtungen; Standorte von
        Bildungseinrichtungen; Standorten von Polizei und Gerichten; Sehenswürdigkeiten; Nachfrageschätzungen;
        Straßenkarten
        für Routing; Detailliertes Straßennetzwerk; Verkehrsaufkommen, Geschwindigkeiten und Unfälle; Daten des
        öffentlichen
        Nahverkehrs (Abfahrtzeiten, Haltestellen und Strecken von Bussen und Bahnen, etc.)</p>
</div>
<p>Die von GeoLytix <strong>selbst erstellten Datensätze</strong> (beispielsweise zu den Standorten von Supermärkten
    oder
    Einzelhändlern) entsprechen dabei auch den Grundsätzen von Open Data und können auf ihrer Webseite heruntergeladen
    werden.</p>
<p>Mit der Dienstleistung von GeoLytix wusste Anna schnell, dass der Standort am U-Bahneingang in der Hazelnut Street
    eine gute Wahl war, solange sie die Produktauswahl in dieser Filiale an die vielen Pendler ausrichten würde, die von
    dort abends zurück in die Vororte fahren. Diese Zielgruppe, die auf biologische und frische Produkte Wert legt,
    würde nämlich insbesondere ein Angebot schätzen, bei dem sie Obst und Gemüse im Laufe der Woche dort für den
    nächsten Tag einkaufen könnte und so nicht nach dem Pendeln noch einmal zum Einkaufen losfahren muss.</p>

<p class="e-caption">Das Team:</p>
<p class="e-img"><img src="static/img/studies/geolytix-team.png" alt="Das GeoLytix-Team"/></p>


{% endblock %}

{% block shortinfo %}
<!-- steckbrief -->
<table>
    <tr>
        <th>Gründung:</th>
        <td>2011</td>
    </tr>
    <tr>
        <th>Sitz:</th>
        <td>London, UK</td>
    </tr>
    <tr>
        <th>Wichtige Kunden:</th>
        <td>Post Office, Sainsbury’s, ASDA (Wal Mart Family), Barclays, Boots, Camelot, TSB, John Lewis, Whole Foods
            Market
        </td>
    </tr>
    <tr>
        <th>Sonstiges:</th>
        <td>
            Mitglied des Open Data Institute (ODI)<br/>
            Gewinner des Open Data Business Awards 2014
        </td>
    </tr>
</table>
{% endblock %}


{% block sources %}
<p>
    Offizielle Seite:<br>
    <a href="http://geolytix.co.uk/" target="_blank">http://geolytix.co.uk/</a>
</p>

<!-- TODO: Might remove this source -->
<p>
    Blogpost auf der Webseite des Open Data Institutes: <br>
    <a href="https://theodi.org/blog/guest-blog-geolytix-open-data-business-model" target="_blank">https://theodi.org/blog/guest-blog-geolytix-open-data-business-model</a>
</p>

<p>
    Präsentation der verwendeten Daten:<br>
    <a href="http://www.thesla.org/wpfiles/wp-content/uploads/2013/10/GeoLytixData_2013_RB.pdf" target="_blank">http://www.thesla.org/wpfiles/wp-content/uploads/2013/10/GeoLytixData_2013_RB.pdf</a>
</p>
{% endblock %}
