{% extends "_base.html" %}
{% block page_id %}open-data-impact-homepage{% endblock %}


{% block content %}
<main role="main">

    <div class="b-top-section">
        <div class="e-shade"></div>
        <hgroup class="e-titles">
            <h1 class="e-main-title">Offene Daten wirken!</h1>
            <h2 class="e-tagline">Sie verbessern unsere Gesellschaft auf vierfache Art</h2>
        </hgroup>
        <div id="explore-button">
            <a id="explore-link" href="#explore-the-data" class="b-button m-dark-blue">Beispiele
                ansehen</a>
        </div>
    </div>

    <div class="b-page-section m-impact-section m-yellow">
        <div class="row m-spaced"></div>
        <div class="row">
            <span id="trigger-3"></span>
            <div class="large-5 large-offset-1 columns">
                <h2 class="">Chancen schaffen</h2>
                <!--<p>
                    {{ cases | selectattr("impact_type", "equalto", "economic") | list | count() }}
                    Beispiele</p>-->
                <i class="material-icons m-xl-badge m-gray" id="badge-3">trending_up</i>
                </p>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    Offene Daten sind die Basis neuer Geschäftsideen, erzeugen <strong>wirtschaftliches
                    Wachstum</strong> und fördern
                    Innovationen in Wirtschaft, Verwaltung und Zivilgesellschaft.
                    <!--<div class="e-action">
                      <a class="b-button m-naked" href="#" id="economic-button">Read the Case Studies<i class="material-icons">arrow_forward</i></a>
                    </div>-->
                </p>
            </div>
        </div>
    </div>
    <div class="b-page-section m-impact-section m-fuschia">
        <div class="row">
            <span id="trigger-4"></span>
            <div class="large-5 large-offset-1 columns">
                <h2 class="">Probleme lösen</h2>
                <!--<p>
                    {{ cases | selectattr("impact_type", "equalto", "public") | list | count() }}
                    case studies</p>-->
                <i class="material-icons m-xl-badge" id="badge-4">public</i>
                </p>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    Ob im Verkehr, bei der Energiewende oder beim Thema Migration: Offene Daten ermöglichen die
                    <strong>Zusammenarbeit verschiedener Akteure</strong> an der Lösung gesellschaftlicher Probleme.
                    <!--<div class="e-action">
                      <a class="b-button m-naked" href="#" id="public-button">Read the Case Studies<i class="material-icons">arrow_forward</i></a>
                    </div>-->
                </p>
            </div>
        </div>
    </div>
    <div class="b-page-section m-impact-section m-blue">
        <div class="row">
            <span id="trigger-1"></span>
            <div class="large-5 large-offset-1 columns">
                <h2 class="">Besser regieren</h2>
                <!--<p>
                    {{ cases | selectattr("impact_type", "equalto", "government") | list | count() }}
                    case studies</p>-->
                <i class="material-icons m-xl-badge" id="badge-1">account_balance</i>
                </p>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    <strong>Faktenbasierte Entscheidungen</strong> sind besser als Bauchentscheidungen. Sie lassen sich
                    leichter
                    nachvollziehen und besser vermitteln. Das stärkt die <strong>Legitimation politischer
                    Beschlüsse</strong> und die
                    Identifikation mit der Demokratie.
                    <!--<div class="e-action">
                      <a class="b-button m-naked" href="#" id="government-button">Read the Case Studies<i class="material-icons">arrow_forward</i></a>
                    </div>-->
                </p>
            </div>
        </div>
    </div>
    <div class="b-page-section m-impact-section m-orange">
        <div class="row">
            <span id="trigger-2"></span>
            <div class="large-5 large-offset-1 columns">
                <h2 class="">Menschen befähigen</h2>
                <!--<p>
                    {{ cases | selectattr("impact_type", "equalto", "citizens") | list | count() }}
                    case studies</p>-->
                <i class="material-icons m-xl-badge m-gray" id="badge-2">person_pin</i>
                </p>
            </div>
            <div class="large-5 columns end">
                <p class="b-description ">
                    <strong>Informierte Menschen</strong> können bessere Entscheidungen für ihr Leben treffen. Wo
                    wohnen? Welchen Weg zur
                    Arbeit wählen? Welche Ausbildung beginnen? <strong>Gute Entscheidungen</strong> machen dem Einzelnen
                    <strong>Freude</strong> und
                    sparen der Gesellschaft Ressourcen.
                    <!--<div class="e-action">
                      <a class="b-button m-naked" href="#" id="citizens-button">Read the Case Studies<i class="material-icons">arrow_forward</i></a>
                    </div>-->
                </p>
            </div>
        </div>
    </div>


    <a name="explore" id="a-explore"></a>

    <!-- section selection removed to _section_selection.html -->

    <div class="b-page-section m-no-top-padding" id="results">
        <div class="grid">
            {% for case in cases %}
            <div class="e-card impact-{{case.impact_type}}">

                <a href="case-{{case.title | slug}}.html">
                    <div class="e-card-inner">
                        <div class="e-case-image"
                             style="background-image: url(./static/img/banners/thumbs/{{case.image}})"></div>
                        <p class="e-case-name">{{case.title | truncate(60)}}</p>
                        <p class="e-case-description">{{case.description | truncate(200)}}</p>
                    </div>
                </a>
            </div>
            <!-- <a class="b-button m-naked" href="#">Read the case study<i class="material-icons">arrow_forward</i></a> -->
            {% endfor %}
        </div>
    </div>

    <div class="b-page-section m-hidden" id="no-results">
        <h3>More Case Studies Coming Soon</h3>
    </div>


    <div class="b-sticky m-purple m-hidden" id="upcoming-section">
        <div class="row">
            <i class="material-icons e-close js-close-sticky">close</i>
            <h2>Diese Sammlung wird laufend erweitert!</h2>
            <p>
                Vorschläge sind willkommen: <a href="mailto:opendata@stiftung-nv.de">opendata@stiftung-nv.de</a>.
            </p>
            <p>
                Oder Tweet mit #datenwirken an <a href="https://twitter.com/okfde" class="e-nav-item" target="_blank">
                <i class="e-social-media-item fa fa-twitter"></i>okfde</a>.
            </p>
        </div>
    </div>

</main><!--@main-->

<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenLite.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="//d3js.org/d3.geo.projection.v0.min.js"></script>
<script src="//d3js.org/queue.v1.min.js"></script>

<script src="static/js/filters.js"></script>
<script src="static/js/tweens.js"></script>
<script src="static/js/map.js"></script>

{% endblock %}
