{% extends "_base.html" %}
{% block page_id %}open-data-impact-homepage{% endblock %}

{% block header %}
<header class="b-top-nav m-transparent">

    <div class="e-nav-group m-left e-social-media hide-for-small-only">
        <a href="https://twitter.com/TheGovLab" class="e-nav-item" target="_blank"><i
                class="e-social-media-item fa fa-twitter"></i></a>
        <a href="http://thegovlab.org" class="e-nav-item" target="_blank">thegovlab.org</a>
    </div>

    <div class="e-nav-group m-right hide-for-small-only">
        <!--<a href="index.html" class="e-nav-item" id="nav-home">Home</a>
        <a href="index.html#explore" class="e-nav-item" id="nav-explore">Explore</a>-->
        <a href="about.html" class="e-nav-item" id="nav-about">Hintergrund</a>
    </div>

    <a class="e-logo" href="./">
        <img src="static/img/govlab-logo-white.png" alt="">
    </a>
</header>
{% endblock %}

{% block content %}
<main role="main">

    <div class="b-top-section">
        <div class="e-shade"></div>
        <hgroup class="e-titles">
            <h1 class="e-main-title">TBD-Title</h1>
            <h2 class="e-tagline">TBD-Subtitle</h2>
        </hgroup>
        <div id="explore-button"><a id="explore-link" href="#explore-the-data" class="b-button m-dark-blue">Explore Case
            Studies</a></div>
    </div>

    <div class="b-page-section m-impact-section m-yellow">
        <div class="row">
            <span id="trigger-3"></span>
            <div class="large-5 large-offset-1 columns">
                <h2>Creating Opportunity</h2>
                <p>
                    {{ cases | selectattr("impact_type", "equalto", "economic") | list | count() }}
                    case studies</p>
                <i class="material-icons m-xl-badge m-gray" id="badge-3">trending_up</i>
                </p>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    Open data is creating new opportunities for citizens and organizations, by <strong>fostering
                    innovation</strong> and <strong>promoting economic growth</strong> and job creation.
                    <!--<div class="e-action">
                      <a class="b-button m-naked" href="#" id="economic-button">Read the Case Studies<i class="material-icons">arrow_forward</i></a>
                    </div>-->
                </p>
            </div>
        </div>
    </div>
    <div class="b-page-section m-impact-section m-fuschia">
        <div class="row">
            <span id="trigger-4"></span>
            <div class="large-5 large-offset-1 columns">
                <h2>Solving Public Problems</h2>
                <p>
                    {{ cases | selectattr("impact_type", "equalto", "public") | list | count() }}
                    case studies</p>
                <i class="material-icons m-xl-badge" id="badge-4">public</i>
                </p>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    Open data is playing an increasingly important role in solving big public problems, primarily by
                    allowing citizens and policymakers access to <strong>new forms of data-driven assessment</strong> of
                    the problems at hand. It also <strong>enables data-driven engagement</strong> producing more
                    targeted interventions and enhanced collaboration.
                    <!--<div class="e-action">
                      <a class="b-button m-naked" href="#" id="public-button">Read the Case Studies<i class="material-icons">arrow_forward</i></a>
                    </div>-->
                </p>
            </div>
        </div>
    </div>
    <div class="b-page-section m-impact-section m-blue">
        <div class="row m-spaced"></div>
        <div class="row">
            <span id="trigger-1"></span>
            <div class="large-5 large-offset-1 columns">
                <h2>Improving Government</h2>
                <p>
                    {{ cases | selectattr("impact_type", "equalto", "government") | list | count() }}
                    case studies</p>
                <i class="material-icons m-xl-badge" id="badge-1">account_balance</i>
                </p>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    Open data is improving government, primarily by <strong>tackling corruption and increasing
                    transparency,</strong> and <strong>enhancing public services</strong> and resource allocation.
                    <!--<div class="e-action">
                      <a class="b-button m-naked" href="#" id="government-button">Read the Case Studies<i class="material-icons">arrow_forward</i></a>
                    </div>-->
                </p>
            </div>
        </div>
    </div>
    <div class="b-page-section m-impact-section m-orange">
        <div class="row">
            <span id="trigger-2"></span>
            <div class="large-5 large-offset-1 columns">
                <h2>Empowering Citizens</h2>
                <p>
                    {{ cases | selectattr("impact_type", "equalto", "citizens") | list | count() }}
                    case studies</p>
                <i class="material-icons m-xl-badge m-gray" id="badge-2">person_pin</i>
                </p>
            </div>
            <div class="large-5 columns end">
                <p class="b-description">
                    Open data is empowering citizens to take control of their lives and demand change by enabling
                    <strong>more informed decision making</strong> and <strong>new forms of social
                    mobilization,</strong> both in turn facilitated by new ways of communicating and accessing
                    information.
                    <!--<div class="e-action">
                      <a class="b-button m-naked" href="#" id="citizens-button">Read the Case Studies<i class="material-icons">arrow_forward</i></a>
                    </div>-->
                </p>
            </div>
        </div>
    </div>



    <div id="explore-the-data" class="b-divider">
        <div class="row m-center">
            <h2 class="m-upper"><strong>TBD</strong> TBD</h2>
        </div>
    </div>
    <!-- section selection removed to _section_selection.html -->

    <div class="b-page-section m-no-top-padding" id="results">
        <div class="grid">
            {% for case in cases %}
            <div class="e-card impact-{{case.impact_type}} sector-{{case.sector}} region-{{case.region}} {% if case.unreleased %} m-unreleased {% endif %}">
                {% if case.unreleased %}
                <div class="e-card-inner">
                    <div class="e-case-image"
                         style="background-image: url(./static/img/banners/thumbs/{{case.image}})"></div>
                    <p class="e-case-name">{{case.title | truncate(60)}}</p>
                    <p class="e-case-description">{{case.description | truncate(200)}}</p>
                </div>
                {% else %}
                <a href="case-{{case.title | slug}}.html">
                    <div class="e-card-inner">
                        <div class="e-case-image"
                             style="background-image: url(./static/img/banners/thumbs/{{case.image}})"></div>
                        <p class="e-case-name">{{case.title | truncate(60)}}</p>
                        <p class="e-case-description">{{case.description | truncate(200)}}</p>
                    </div>
                </a>
                {% endif %}
            </div>
            <!-- <a class="b-button m-naked" href="#">Read the case study<i class="material-icons">arrow_forward</i></a> -->
            {% endfor %}
        </div>
    </div>

    <div class="b-page-section m-hidden" id="no-results">
        <h3>More Case Studies Coming Soon</h3>
    </div>


    <!-- <div class="b-sticky m-purple m-hidden" id="upcoming-section">
        <div class="row">
            <i class="material-icons e-close js-close-sticky">close</i>
            <h2>More Coming Soon</h2>
            <p>
                Our Key Findings paper will be released in March.
            </p>
            <p>
                Follow us via <a target="_blank" href="https://twitter.com/thegovlab">@thegovlab</a> for more details.
                <a target="_blank" href="https://twitter.com/#odimpact">#ODimpact</a>
            </p>
        </div>
    </div>-->

</main><!--@main-->

<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenLite.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="//d3js.org/d3.geo.projection.v0.min.js"></script>
<script src="//d3js.org/queue.v1.min.js"></script>

<script src="static/js/filters.js"></script>
<script src="static/js/tweens.js"></script>
<script src="static/js/map.js"></script>

{% endblock %}
