{% extends "_base.html" %}
{% block page_id %}supporters-page{% endblock %}

{% block navelements %}
<div class="e-nav-group m-right hide-for-small-only">
    <a href="./index.html" class="e-nav-item" id="nav-about">Home</a>
    <a href="./about.html" class="e-nav-item" id="nav-support">Hintergrund</a>
</div>
<div class="e-nav-group m-right show-for-small-only dropdown">
    <a class="e-nav-item activate-dropdown"><i class="fa fa-ellipsis-h"></i></a>
    <ul class="m-transparent">
        <li>
            <a href="./index.html" class="e-nav-item">Home</a>
        </li>
        <li>
            <a href="./about.html" class="e-nav-item">Hintergrund</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<main role="main">
    <header class="b-top-section">
        <div class="b-wrap">
            <h2>Wir befürworten offene Verwaltungsdaten in Deutschland:</h2>
        </div>
    </header>

    <section id="logos" class="large-padding-bottom">
        <div class="row">
            <div class="column medium-4 large-3 text-center">
                <div class="logo-container">
                    <a target="_blank" href="https://deutschestartups.org"><img src="static/img/partners/BVDS_Logo.svg"
                                                                                alt="Bundesverband Deutsche Startups e.V."/></a>
                </div>
            </div>
            <div class="column medium-4 large-3 text-center">
                <div class="logo-container">
                    <a target="_blank"
                       href="https://www.technologiestiftung-berlin.de/de/top-themen/data/open-data/"><img
                            src="static/img/partners/TSB.png" alt="Technologiestiftung Berlin"/></a>
                </div>
            </div>
            <div class="column medium-4 large-3 text-center">
                <div class="logo-container">
                    <a target="_blank"
                       href="https://www.kgst.de/themenfelder/informationsmanagement/projekte-informationsmanagement/innovationszirkel-open-x-cities.dot"><img
                            src="static/img/partners/KGSt.jpg" alt="KGSt"/></a>
                </div>
            </div>

            <div class="column medium-4 large-3 text-center">
                <div class="logo-container">
                    <a target="_blank" href="https://www.init.de/"><img
                            src="static/img/partners/init.svg" alt="init"/></a>
                </div>
            </div>

            <div class="column medium-4 large-3 text-center">
                <div class="logo-container">
                    <a target="_blank" href="http://www.initiatived21.de"><img
                            src="static/img/partners/InitiativeD21.jpg" alt="Initiative D21"/></a>
                </div>
            </div>
            <div class="column medium-4 large-3 text-center">
                <div class="logo-container">
                    <a target="_blank" href="http://www.bvdw.org"><img
                            src="static/img/partners/bvdw_logo_300dpi.jpg" alt="BVDW"/></a>
                </div>
            </div>
            <div class="column medium-4 large-3 text-center">
                <div class="logo-container">
                    <a target="_blank" href="http://www.idalab.de"><img
                            src="static/img/partners/idalab_logo.jpg" alt="idalab"/></a>
                </div>
            </div>
            <div class="column medium-4 large-3 text-center">
                <div class="logo-container">
                    <a target="_blank" href="http://www.bdva.org"><img
                            src="static/img/partners/BDVA.PNG" alt="Big Data Value Association"/></a>
                </div>
            </div>
             <div class="column medium-4 large-3 text-center end">
                <div class="logo-container">
                    <a target="_blank" href="https://www.fokus.fraunhofer.de"><img
                            src="static/img/partners/fokus.gif" alt="Fraunhofer Fokus"/></a>
                </div>
            </div>
            <!-- Darauf achten, dass immer nur das letzte Element dieser Liste die classe 'end' hat. -->
        </div>
    </section>
</main>

{% endblock %}
