{% extends "_base.html" %}
{% block page_id %}about-page{% endblock %}

{% block navelements %}
<div class="e-nav-group m-right">
    <a href="/" class="e-nav-item" id="nav-about">Home</a>
</div>
{% endblock %}

{% block content %}
<main role="main">
    <header class="b-top-section ">
        <div class="b-wrap">
            <h1>Vielen Dank</h1>
            <h2>Wir haben Ihr Feedback dankend erhalten.</h2>
        </div>
    </header>
    <section class="b-page-section">
        <div class="row m-center m-padded">
            <a href="about.html" class="b-button">Zurück zur vorherigen Seite.</a>
        </div>
    </section>
</main>
{% endblock %}