.b-divider {
  &.no-padding {
    padding: 0;
  }
  &.small-padding {
    padding: 10px 0;
  }

  &.m-next {
    background-color: $blue; // fallback
    $arrow-width: 35px;
    h4, h5 {
      text-transform: uppercase;
      margin-right: $arrow-width;
    }
    h4 {
      color: $white-30;
      font-size: 17px;
      font-weight: 400;

    }
    h5 {
      font-size: 20px;
      color: $white-70;
      @include transition;
      position: relative;
      &:after {
        @include material-icons;
        content: 'chevron_right';
        font-size: $arrow-width;
        position: absolute;
        right: -$arrow-width;
        top: 50%;
        margin-top: -$arrow-width/2;
      }
      margin-bottom: 10px;

    }
    a {
      text-decoration: none;
      &:hover h5 {
        color: $white;
        @include transition;
      }
    }
  }

  &.m-yellow {
    background-color: $yellow;
  }

  &.m-fuschia {
    background-color: $fuschia;
  }

  &.impact-citizens {
    background-color: $orange;
  }

  &.impact-government {
    background-color: $blue;
  }

  &.impact-economic {
    background-color: $yellow;
  }

  &.impact-public {
    background-color: $fuschia;
  }

}