.tabs {
  display: inline-block;
  position: relative;
  border: 0;
  & > .tabs-title {
    background-color: $gray-30;
    margin: 0 10px;
    & > a {
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }
  }

  .e-side-link {
    padding: 17px 0;
    position: absolute;
    right: 25px;
    // color: $white;
  }
}

.tabs-content {
  .tabs-panel {
    // padding: 0;
    .row {
      // max-width: none;
      .columns {
        text-align: center;
        // padding: 0;
      }
    }
  }
  .b-button {
    font-size: 15px;
    text-transform: none;
    width: 100%;
    &.selected {
      padding-bottom: 30px;
      box-sizing: border-box;
      i{
        top: inherit;
        bottom: 3px;
        left: 50%;
        margin-left: -12px;
        margin-top: 0;
      }
    }
    position: relative;
    i {
      bottom: inherit;
      transition: all 0.5s;
      position: absolute;
      margin-left: 0;
      margin-top: -12px;
      top: 50%;
      left: 3px;
    }

  }
}