.b-top-nav {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  &.m-fixed {
    position: fixed;
  }

  // for text-only title
  .e-title {
    padding: 11px 0 0 0;
    text-align: center;
    display: block;
  }
  .e-logo {
    max-width: 350px;
    margin: 0 auto;
  }

  &.m-transparent, .m-transparent {
    background-color: $gray-50;
    color: $white;
  }

  .e-nav-group {
    color: $white-70;
    @include transition;

    i.material-icons {
      font-size: 30px;
      cursor: pointer;
    }

    &.m-right {
      font-weight: 700;
    }

    &.e-social-media .e-nav-item {
      padding: 14px 20px 15px;
      font-size: 20px;
    }

    .e-side-logo {
      position: relative;
      top: -8px;
      img {
        max-width: 75px;
      }
    }

    &:hover {
      color: $white;
      @include transition;
    }
  }
}